name: push-main

on:
  push:
    branches: [main]

jobs:
  validation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Validate Code
        run: |
          npx eslint .
          npx tsc --noEmit

      - name: Build Vite
        run: npm run build
